<h1>Cylinder</h1>
<p><a href="comp/a">Aenean sit amet magna urna.</a></p>
<p>this is a test template showing that {{app}} is {{adjective}}!</p>
<p>it's just <b>standard</b> html. go ahead{{# action}} and {{action}}{{/ action}}!</p>
<p>bye.</p>
